/* components/subject/index.wxss */


.item{
  margin-bottom: 34rpx;
  .subject_title{
    font-size: 24rpx;
    color: #666;
    margin-bottom: 22rpx;
  }
  .subject_answer{
    display: flex;
    justify-content: center;
    .answer{
      margin-left: 30rpx;
    }
    .answer:first-child{
      margin-left: 0rpx;
    }
    .selected{
      width: 30rpx;
      height: 30rpx;
      background-color: #6fc2bd;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.item:last-child {
  margin-bottom: 0rpx;
}