/* pages/login/index.wxss */
.nar_bar{
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 80rpx;
  .btn_land{
    width: 130rpx;
    text-align: center;
    margin-right: 52rpx;
    color: #7C7C7C;
  }
  .iconfont{
    margin-left: 46rpx;
    font-size: 46rpx;
    font-weight: bold;
    flex:1;
  }
}
.logo{
  width:292rpx;
  height:102rpx;
  margin-top: 744rpx;
  position: fixed;
  bottom: 778rpx;
}
.bottom_box{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 750rpx;
  height: 556rpx;
  .iconfont{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 28rpx;
    font-size: 44rpx;
    text-align: center;
  }
  .login_btn {
    opacity: 0;
  }
  .lace{
    width: 100%;
    height: 100%;
    .lace_wrapper{
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: -50rpx;
      .wava{
        // position: absolute;
        // bottom: 0;
        width: 150%;
        height: 100%;
        background-size: 100% 100%;
        background-repeat: repeat no-repeat;
        // background-position: 0 bottom;
        transform-origin: center bottom;
      }
    }
    .bg_1{
      z-index: 1;
      animation: move_wave 8s linear infinite alternate;
      animation-duration: 5s;
      // .wava{
      //   background-size: 50% 100%;
      // }
    }
    .bg_2{
      z-index: 10;
      animation: move_wave 10s linear infinite alternate;
      animation-duration: 6s;
      // .wava{
      //   background-size: 50% 100%;
      // }
    }
    .bg_3{
      // height: 412rpx;
      z-index: 12;
      animation: move_wave 15s linear infinite alternate;
      animation-duration: 7s;
      // .wava{
      //   background-size: 50% 100%;
      // }
    }
    .bg_4{
      // height: 370rpx;
      z-index: 15;
      animation: move_wave 20s linear infinite alternate;
      animation-duration: 8s;
      // .wava{
      //   background-size: 50% 100%;
      // }
    }
  }
}
@keyframes move_wave {
  0%{
    transform: translateX(0) translateY(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateY(50rpx) translateZ(0) scaleY(0.7);
  }
  100%{
    transform: translateX(-50%) translateY(0) translateZ(0) scaleY(1);
  }
}